<figure class="card">
    <div class="card__hero">
        <img src="/{%IMAGE%}" alt="{%PRODUCTNAME%}" class="card__img" />
    </div>
    <h2 class="card__name">{%PRODUCTNAME%}</h2>
    <p class="card__detail"><span class="emoji-left">🖥</span>{%SCREEN%}</p>
    <p class="card__detail"><span class="emoji-left">🧮</span>{%CPU%}</p>
    <div class="card__footer">
        <p class="card__price">${%PRICE%}</p>
        <a href="/laptop?id={%ID%}" class="card__link"
            >Check it out
            <svg
                width="54"
                height="54"
                viewBox="0 0 54 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M39 28H13C12.448 28 12 27.553 12 27C12 26.447 12.448 26 13 26H39C39.552 26 40 26.447 40 27C40 27.553 39.552 28 39 28Z"
                    fill="white"
                />
                <path
                    d="M30.707 37.707L29.293 36.293L38.586 27L29.293 17.707L30.707 16.293L41.414 27L30.707 37.707Z"
                    fill="white"
                />
            </svg>
        </a>
    </div>
</figure>
